.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
input {
    height: 0.8rem;
    width: 10rem;
    padding: 0.5rem;
}
button {
    height: 2rem;
    width: 5rem;
    padding: 0;
    border: none;
    font-size: 0.8rem;
}