*, *::before, *::after {
  box-sizing: border-box; 
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; 
  overflow-x: hidden; 
  background-color: #050505; 
}

#root {
  /* Fixní pozice uprostřed (pro Desktop) */
  display: flex;
  flex-direction: column;
  min-height: 100%; /* Musí být min-height, aby mohl růst s obsahem */
  width: 100%;
  max-width: 480px; /* Limit šířky telefonu */
  margin: 0 auto;   /* Vycentrování na desktopu */
  
  /* Vzhled telefonu */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  
  /* Izolace od vnějšího světa */
  isolation: isolate; 
}

h1 {
  font-size: 1.5rem;   
  padding: 1rem;       
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.inline-b {
  display: inline-block
}
.d_grid_2_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

}

.d_flex_dir_row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.border {
  border: solid 1px #ffffff;
  border-radius: 0.5rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
